<!DOCTYPE html>
<html>
  <head>
    <title>Teacher Detail</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="container">
      <h3><a href="/teachers">teachers List</a></h3>
      <h1>Teacher Detail</h1>
      <table>
        <tbody>
          <tr>
            <td>Name</td>
            <td>:</td>
            <td><%= teacher.name %></td>
          </tr>
          <tr>
            <td>Address</td>
            <td>:</td>
            <td><%= teacher.address %></td>
          </tr>
          <tr>
            <td>Position</td>
            <td>:</td>
            <td><%= teacher.position %></td>
          </tr>
          <tr>
            <td>Salary</td>
            <td>:</td>
            <td><%= teacher.salary %></td>
          </tr>
        </tbody>
      </table>
      <h3><a href="/teachers/edit/<%= teacher._id%>">EDIT</a></h3>
      <form action="/teachers/delete/<%= teacher._id%>" method="post">
        <button type="submit">DELETE</button>
      </form>
    </div>
  </body>
</html>
